{% extends 'base_english.html' %}
{% load static %}
{% block content %}
<style>
  h2.card-title{
    width: 789px;
   
    padding: 10px;
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 68px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 25px;
    margin-left: 24px;
  }
  p{
    margin-top: 27px;
    width:-webkit-fill-available;
    
    padding: 10px;
    background-color: #003366;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    border-radius: 68px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 19px;
    margin-left: 23px;
  }
</style>
<body>
  {% for verse in verse_details %}
  <h2 class="card-title" style="text-shadow: 1px 2px 3px #0a0700;">{{ bookname }} {{ chapter }}:{{ verse.versecount }}</h2>
 <p>{{ verse.kjv }}</p>

 {% endfor %}
</body>

{% endblock %}

</html>
